@{
    Layout = null;
}
<html>
<head>
    <title>角色管理</title>
    <link href="~/Scripts/EasyUI/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/jquery-easyui-1.4.4/themes/black/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/EasyUI/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/EasyUI/jquery-easyui-1.4.4/easyui-lang-zh_CN.js"></script>
    @*<script src="~/Scripts/MyAjaxForm.js"></script>*@
    <script src="~/Scripts/Ajax/ajaxfileupload.js"></script>
    @*<script src="~/Scripts/ajaxfileupload.js"></script>*@
    <script type="text/javascript">
        $(function () {
            
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");//隐藏修改表单
            loadData();
            bindSelectActionTypeChange();   //给权限类型下拉框加上改变事件
           
            $("#btnUploadIcon").click(function () {
                if ($("#imgIcon").val().length > 0) {
                    ajaxFileUpload();
                }
                else {
                    alert("请选择图片");
                }
            })
        });
        function bindSelectActionTypeChange() {
            $("#selectActionType").change(function () {
                if ($(this).val() == "0") {
                    $("#imageIconDiv").fadeOut("slow");
                }
                else {
                    $("#imageIconDiv").fadeIn("slow");
                }

            });
        }     
        //文件异步上传
        function ajaxFileUpload() {
            $.ajaxFileUpload
            (
                {
                    url: '/ActionInfo/GetMenuIcon', //用于文件上传的服务器端请求地址
                    secureuri: false, //一般设置为false
                    fileElementId: 'imgIcon', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                    dataType: 'json', //返回值类型 一般设置为json
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                        if (data) {
                            if (data.state != "ok")
                            {
                                alert(data.errorMessage);
                            }
                            else
                            {
                                $("#hideImgSrc").attr("value", data.imgSerPath);
                                //获取需要追加图片的div
                                $("#menuIconShow").append("<img src='" + data.imgSerPath + "' width='40px' height='40px' />")
                            }
                        }                       
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                }
            )
            return false;
        }      


        function loadData(pars) {
            $("#tt").datagrid({
                url: '/ActionInfo/GetActionInfo',
                title: '权限管理表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载用户的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 10,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [10, 20, 30],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
					{ field: 'ID', title: '编号', width: 60 },
					{ field: 'ActionInfoName', title: '权限名', width: 120 },
                    { field: 'Sort', title: '排序', width: 60 },
                    { field: 'Url', title: '请求地址', width: 140 },
                    { field: 'HttpMethod', title: '请求方式', width: 100 },
                    { field: 'ActionTypeEnum', title: '权限类型', width: 80 ,
                    formatter: function (value) {
                        if(value==1)
                        {
                            return "菜单权限";
                        }
                        else {
                            return "普通权限";
                        }
                    }
                    },
                    {
                        field: 'SubTime', title: '时间', width: 100, align: 'right',
                        formatter: function (value) {
                            var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
                            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                            return date.getFullYear() + "-" + month + "-" + currentDate;
                        }
                    },
                    { field: 'Remark', title: '备注', width: 150 },
					
                    //{
                    //    field: 'Operator', title: '操作', width: 80, align: 'right',
                    //    formatter: function (value, row, index) {
                    //        var str="<a href="
                    //    }
                    //}
                ]],
                toolbar: [

                    {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {

                        deleteInfo();
                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {

                        addInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {

                        eidtInfo();
                    }
                },
                {
                    id: 'btnSetRole',
                    text: '给权限分配角色',
                    iconCls: 'icon-edit',
                    handler: function () {

                        setActionRoleInfo();
                    }
                }
                ],
            });
        }

        //设置权限的角色
        function setActionRoleInfo() {
            var rows = $("#tt").datagrid('getSelections');
            if(rows.length!=1)
            {
                $.messager.alert({
                    title: '提示',
                    msg: '请选择一个角色',
                    showType: 'error'
                });
                return;
            }
            else
            {
                //显示分配角色的div
                $("#setActionRoleDiv").css("display", "block");
                //向 分配角色的Iframe添加src地址
                $("#setActionRoleFrame").attr("src", "/ActionInfo/SetActionRole/?id=" + rows[0].ID);
            }
            $('#setActionRoleDiv').dialog({
                title: "设置权限的角色信息",
                width: 400,
                height: 500,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //$("#editForm").submit();//提交表单
                        var childWindow = $("#setActionRoleFrame")[0].contentWindow;//获取子窗体的window对象.
                        childWindow.subEditForm();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#setActionRoleDiv').dialog('close');
                    }
                }]
            });
        }


        //删除选中的用户数据
        function deleteInfo() {
            var rows = $("#tt").datagrid("getSelections");  //返回所有被选中的行，当没有记录被选中的时候将返回一个空数组。
            //若没有选中
            if (!rows || rows.length == 0) {
                $.messager.alert("提醒", "请选择要删除的记录", "error");
                return;
            }
            else ($.messager.confirm("提醒", "是否要删除选中的记录", function (r) {
                if (r)//若单击了确定
                {
                    //获取要删除的ID
                    //注意：ID可能为多个（数组）
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].ID + ",";
                    }
                    strId = strId.substr(0, strId.length - 1);   //去掉最后的一个“,”
                    $.post("/RoleInfo/DeleteUserInfo",//请求的url
                        {"strId":strId},             //传过去的json格式数据
                        function(data){             //回调函数
                            if (data = "ok") {
                                $("#tt").datagrid('clearChecked');  //清除所有勾选的行
                                //重新加载
                                $("#tt").datagrid('reload');
                            }
                            else
                            {
                                $.messager.alert("注意", "删除记录失败", "error");
                            }

                        });
                }
            }
            ))
        }

        //执行修改操作
        function eidtInfo() {
            //1 获取所选中的行
            var rows = $("#tt").datagrid('getSelections');
            //2 若选中的行数不等于1，则提示出错
            if (rows.length != 1)
            {
                $.messager.alert("提示", "请选中一行数据", "error");
                return;
            }
            
            //方法（二）
            $("#editFrame").attr("src", "/ActionInfo/ShowEditInfo/?id=" + rows[0].ID);
            //$("#editDiv").css("display", "block");//显示修改div
            $("#editDiv").css("display", "block");

            $('#editDiv').dialog({
                title: "编辑角色信息",
                width: 300,
                height: 350,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //$("#editForm").submit();//提交表单
                        var childWindow = $("#editFrame")[0].contentWindow;//获取子窗体的window对象.
                        childWindow.subEditForm();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#editDiv').dialog('close');
                    }
                }]
            });
        }

        //添加人员操作
        function addInfo() {         

            $("#addDiv").css("display", "block");
            $('#addDiv').dialog({
                title: "添加用户信息",
                width: 350,
                height: 400,
                collapsible: false,//定义是否显示可折叠按钮。
                resizable: true,   //定义是否可以改变对话框窗口大小
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //自己完成表单校验
                        $("#addForm").submit();//提交表单.
                    }
                }, {
                    text: '取消',
                    iconCls:'icon-cancel',
                    handler: function () {
                        $('#addDiv').dialog('close');
                    }
                }]
            });
        }

        function afterAdd(data) {
            if (data == "ok") {
                $.messager.alert("提示", "新增成功", "info");
                $("#addForm input").val("");
                $("#addDiv").dialog('close');
                $("#tt").datagrid('reload');

            }
            else
            {
                $.messager.alert("错误", "添加失败", "error");
                $("#addForm input").val("");
                $("#addDiv").dialog('close');
                $("#tt").datagrid('reload');
            }
        }

        function afterSetRole(data) {
            $("#setActionRoleDiv").dialog('close');
            $("#tt").datagrid('reload');
        }


        function afterEdit(data) {
            //if (data == "ok") {
            //    $.messager.alert("提示", "修改成功", "info");
            //    $("#editForm input").val("UName");
                $("#editDiv").dialog('close');
                $("#tt").datagrid('reload');

            //}
            //else {
            //    $.messager.alert("错误", "修改失败", "error");
            //    $("#editForm input").val("");
            //    $("#editDiv").dialog('close');
            //    $("#tt").datagrid('reload');
            //}
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式加密
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }

    </script>
</head>
<body>
    <div style="overflow-y:hidden">
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>
    </div>
    
    @*添加窗体*@    
    <div id="addDiv"  title="创建新用户" style="width:400px;padding:30px 60px">
        @using (Ajax.BeginForm("AddActionInfo", "ActionInfo", new { }, new AjaxOptions() { Confirm = "你确定添加吗?", HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <div style="margin-bottom:20px">
                <div>权限名称</div>
                <input class="easyui-textbox" name="ActionInfoName" data-options="prompt:'输入权限名...',validType:'email'" style="width:100%;height:32px">
            </div>

                <div style="margin-bottom:20px">
                    <div>URL:</div>
                    <input class="easyui-textbox" name="Url" style="width:100%;height:32px">
                </div>
                <div style="margin-bottom:20px">
                    <div>请求方式:</div>
                    <select name="HttpMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <div style="margin-bottom:20px">
                    <div>权限类型:</div>
                    <select name="ActionTypeEnum" id="selectActionType">
                        <option value="0">普通权限</option>
                        <option value="1">菜单权限</option>
                    </select>
                </div>
                <div style="display:none" id="imageIconDiv">
                    <div>菜单图标</div>
                    <div>
                        <input type="file" name="MenuIcon" id="imgIcon" />
                        <br />
                        <input type="button" id="btnUploadIcon" value="异步上传" />
                        <input type="hidden" id="hideImgSrc" name="MenuIcon" />
                        <div id="menuIconShow">

                        </div>
                    </div>
                </div>
                <div style="margin-bottom:20px">
                    <div>排序:</div>
                    <input class="easyui-textbox" name="Sort" style="width:100%;height:32px">
                </div>
                <div style="margin-bottom:20px">
                    <div>备注:</div>
                    <input class="easyui-textbox" name="Remark" style="width:100%;height:32px">
                </div>
            @*<table>
                <tr style="margin-bottom:20px">
                    <td>权限名称</td>
                    <td><input class="easyui-textbox" name="ActionInfoName" data-options="prompt:'输入权限名...',validType:'email'" style="width:100%;height:32px"></td>                    
                </tr>

                <tr style="margin-bottom:20px">
                    <td>URL:</td>
                    <td><input class="easyui-textbox" name="Url" style="width:100%;height:32px"></td> 
                </tr>
                <tr style="margin-bottom:20px">
                    <td>请求方式:</td>
                   <td><select name="HttpMethod">
                        <option value="GET">GET</option>
                         <option value="POST">POST</option>
                </select>
                    </td>
                </tr>
                <tr style="margin-bottom:20px">
                    <td>权限类型:</td>
                    <td>
                        <select name="ActionTypeEnum" id="selectActionType">
                            <option value="0">普通权限</option>
                            <option value="1">菜单权限</option>
                        </select>
                    </td>
                </tr>
                <tr style="display:none" id="imageIconDiv">
                    <td>菜单图标</td>
                    <td>
                        <input type="file" name="MenuIcon" id="imgIcon" />
                        <br />
                        <input type="button" id="btnUploadIcon" value="异步上传" />
                        <input type="hidden" id="hideImgSrc" name="MenuIcon" />
                        <div id="menuIconShow">

                        </div>
                    </td>
                </tr>
                <tr style="margin-bottom:20px">
                    <td>排序:</td>
                    <td>
                        <input class="easyui-textbox" name="Sort" style="width:100%;height:32px">
                    </td>
                </tr>
                <tr style="margin-bottom:20px">
                    <td>备注:</td>
                    <td>
                        <input class="easyui-textbox" name="Remark" style="width:100%;height:32px">
                    </td> 
                </tr>
                <tr><td></td></tr>
            </table>*@
        }
    </div>
    @*方法二*@
    <div id="editDiv">
        @* scrolling 不显示滚动条*@
        <iframe id="editFrame" scrolling="auto" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <!--为权限分配角色-->
    <div id="setActionRoleDiv">
        @* scrolling 不显示滚动条*@
        <iframe id="setActionRoleFrame" scrolling="auto" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</body>
</html>

